<div class="container-sm">
    <h1>Bottleshelf</h1>
    <p class="pb-4 text-center">
      This application provide receipts of EKNM Cocktails
    </p>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
      <button type="button" class="home-section" (click)="navigateToCocktails()">Cocktails</button>
    </div>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
      <button type="button" class="home-section" (click)="navigateToLiquids()">Liquids</button>
    </div>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
      <button type="button" class="home-section" (click)="navigateToDries()">Dries</button>
    </div>
  </div>
