<div class="container-sm">
  <br><br>
    <h1>Welcome to our little project, Bottleshelf.</h1>
    <br><br>
    <p class="pb-6 text-center">
    <img src="../../assets/cocktails/1.png" class="img-fluid">
  </p>
    <br><br>
    <p class="pb-6 text-juctify">
      This application provide receipts of EKNM Cocktails, which we invent together with friends and use various unusual components in them, including beer of our own production. You can learn more about this and about us on our main website, the link to which is presented below.
  </p>
  <br>
  <p class="pb-6 text-center">
    <a href="http://eknmhub1.s3-website.eu-central-1.amazonaws.com/" class="nav-button">EKNM HUB</a>
  </p>

</div>
