#cook-success-alert-cocktail,
#cook-unsuccess-alert-cocktail,
#add-success-alert-cocktail,
#update-success-alert-cocktail,
#delete-success-alert-cocktail  {
    display: none;
}

#cook-success-alert-cocktail,
#cook-unsuccess-alert-cocktail,
#add-success-alert-cocktail,
#update-success-alert-cocktail,
#delete-success-alert-cocktail {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}