<form>
  <div class="mb-3">
    <label class="form-label">Login</label>
    <input type="text" class="form-control" placeholder="Username" #userName required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="text" class="form-control" placeholder="Password" #userPassword required>
  </div>
  <div class="mb-3">
    <input type="button" class="btn btn-primary" value="Log in" (click)="signIn(userName.value, userPassword.value)">
  </div>
  <!--<div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>
      Calling GoogleAuth Api from AuthService 
    <div class="formGroup">
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div>
    <div class="forgotPassword">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>
  </div>-->
</form>
