#add-success-alert-liquid,
#update-success-alert-liquid,
#delete-success-alert-liquid {
    display: none;
}

#add-success-alert-liquid,
#update-success-alert-liquid,
#delete-success-alert-liquid {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}