<div class="bg-dark px-4 pt-5 my-5 text-center align-items-center rounded-3 border shadow-lg">
    <h1 class="display-7 fw-bold text-white"> Liquid ingridients </h1>
    <br>
    <!-- Add liquid trigger modal -->
    <br>
    <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#addLiquid" (click)="modalAdd()">
        Add Liquid
    </button>
    <button type="button" class="btn btn-warning float-end m-2" (click)="buyLiquids()">
        Buy liquids
    </button>
    <br>
    <br>
    <table matSort (matSortChange)="sortData($event)" class="table table-hover table-dark">
        <thead>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="price">Price</th>
            <th mat-sort-header="description">Description</th>
            <th mat-sort-header="volume">Volume</th>
            <th mat-sort-header="bottles">Bottles</th>
            <th mat-sort-header="degree">Degree</th>
            <th mat-sort-header="amount">Total</th>
            <th>Options</th>
        </thead>
        <tbody *ngFor="let item of sortedData">
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.volume}} ml</td>
                <td *ngIf="(item.bottles)>1" >{{item.bottles}}</td>
                <td *ngIf="(item.bottles)<=1">{{item.bottles}}</td>
                <td>{{item.degree}}</td>
                <td>{{item.amount}} ml</td>
                <td>
                    <button class="btn btn-outline-primary me-2 mb-1" (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#addLiquid">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                          </svg>
                    </button>
                    <button class="btn btn-outline-danger me-2 mb-1" (click)="deleteLiq(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-success" role="alert" id="add-success-alert-liquid">
        Liquid successfully added!
    </div>
    <div class="alert alert-warning" role="alert" id="update-success-alert-liquid">
        Liquid successfully updated!
    </div>
    <div class="alert alert-warning" role="alert" id="delete-success-alert-liquid">
        Liquid successfully deleted!
    </div>
</div>

<!-- Add or edit liquid Modal -->
<div class="modal fade" id="addLiquid" tabindex="-1" aria-labelledby="addLiquidLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLiquidLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="modalClose()" id="add-edit-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-liquids [liquid]="liquid" *ngIf="activateAddEditLiquidComponent"></app-add-edit-liquids>
        </div>
      </div>
    </div>
  </div>