<div class="bg-dark px-4 pt-5 my-5 text-center align-items-center rounded-3 border shadow-lg">
    <h1 class="display-7 fw-bold text-white"> Dry ingridients </h1>
    <table class="table table-hover table-dark">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Weight</th>
        </thead>
        <tbody *ngFor="let item of driesList">
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.weight}}</td>
            </tr>
        </tbody>
    </table>
</div>