#add-success-alert-dry,
#update-success-alert-dry,
#delete-success-alert-dry {
    display: none;
}

#add-success-alert-dry,
#update-success-alert-dry,
#delete-success-alert-dry {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}