<form>
    <div class="mb-3" *ngIf="liquid.id!=0">
        <label class="form-label">Id</label>
        <input type="text" class="form-control " [(ngModel)]="id" name="id" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" [(ngModel)]="price" name="price">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description">
    </div>
    <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" class="form-control" [(ngModel)]="amount" name="amount" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Bottles</label>
        <input type="number" class="form-control" [(ngModel)]="bottles" name="bottles">
    </div>
    <div class="mb-3">
        <label class="form-label">Volume</label>
        <input type="number" class="form-control" [(ngModel)]="volume" name="volume">
    </div>
    <div class="mb-3">
        <label class="form-label">Degree</label>
        <input type="number" class="form-control" [(ngModel)]="degree" name="degree">
    </div>
    <button (click)="addLiquid()" *ngIf="liquid.id==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateLiquid()" *ngIf="liquid.id!=0" class="btn btn-primary">
        Update
    </button>
</form>
