<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <img class="logo" src="../../assets/logohd.png">
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <button (click)="navigateToHome()" class="nav-button" id="home-button">
            bottleshelf
          </button>
        </li>
      </ul>
      <ul class="navbar-nav">
      <li>
        <button (click)="navigateToCocktails()" class="nav-button" id="cocktails-button">
          Cocktails
        </button>
      </li>
      <li class="d-none d-lg-block">
      <p class="line">|</p>
    </li>
      <li>
        <button (click)="navigateToLiquids()" class="nav-button" id="liquids-button">
          Liquids
        </button>
      </li>
      <li class="d-none d-lg-block">
        <p class="line">|</p>
      </li>
      <li>
        <button (click)="navigateToDries()" class="nav-button" id="dries-button">
          Dries
        </button>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="card text-white bg-dark mb-3" style="max-width: 10rem;" *ngIf="authService.userData as user">
  <div class="card-body">
    <h5 class="card-title">Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong>!</h5>
    <button (click)="authService.SignOut()" class="btn btn-primary">Log out</button>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 8rem;" *ngIf="!authService.userData as user">
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#login" (click)="modalLogin()">
    Login
</button>
</div>
<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalLoginClose()" id="add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <app-sign-in *ngIf="activateLoginComponent"></app-sign-in>
      </div>
    </div>
  </div>
</div>