<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <img class="logo" src="../../assets/logohd.png">
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <button (click)="navigateToHome()" class="nav-button" id="home-button">
            bottleshelf
          </button>
        </li>
      </ul>
      <ul class="navbar-nav">
      <li>
        <button (click)="navigateToCocktails()" class="nav-button" id="cocktails-button">
          Cocktails
        </button>
      </li>
      <li class="d-none d-lg-block">
      <p class="line">|</p>
    </li>
      <li>
        <button (click)="navigateToLiquids()" class="nav-button" id="liquids-button">
          Liquids
        </button>
      </li>
      <li class="d-none d-lg-block">
        <p class="line">|</p>
      </li>
      <li>
        <button (click)="navigateToDries()" class="nav-button" id="dries-button">
          Dries
        </button>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="row" *ngIf="authService.userData as user">
    <img class="" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}">
<h2>Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong>!</h2>
<a class="nav-link" (click)="authService.SignOut()">
  <i class="fas fa-sign-out-alt"></i>Log out
</a>
</div>