<form>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description">
    </div>
    <div class="mb-3">
        <label class="form-label">Liquid Ingridients</label>
        <button (click)="addLiquidIngridient()" class="btn btn-primary">
            +
        </button>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Amount</th>
            </thead>
            <tbody id="htmlToAddLiquids">
                <tr id="liqTR">
                    <td>
                        <select  class="form-control liqsel" name="Liquids">
                            <option disabled selected>Select liquid</option>
                            <option [value]="liq.id" *ngFor="let liq of liquidsList">
                                {{liq.name}}    
                            </option>
                        </select>
                    </td>
                    <td>
                        <input class="liqml" type="number" id="quantity" name="quantity" min="1"> ml
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-3">
        <label class="form-label">Dry Ingridients</label>                
        <button (click)="addDryIngridient()" class="btn btn-primary">
            +
        </button>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Amount</th>
            </thead>
            <tbody id="htmlToAddDries">
                <tr id="dryTR">
                    <td>
                        <select  class="form-control drysel" name="dries">
                            <option disabled selected>Select dry</option>
                            <option [value]="dry.id" *ngFor="let dry of driesList">
                                {{dry.name}}    
                            </option>
                        </select>
                    </td>
                    <td>
                        <input class="drygr" type="number" id="quantity" name="quantity" min="0"> gr
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="addCocktail()" class="btn btn-primary">
        Add
    </button>
</form>