.eknm-button-small {
    margin: 0.5rem;
}

.alpha-label {
    text-align: end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.eknm-button-underlined {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

h1 {
    font-size: 7rem;
    margin: 0;
    margin: -1rem;
}

h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}