<div class="full-page">
    <div class="fade-in-image">
        <div class="gradient-down"></div>
        <div class="background-overlay">
            <div class="container-narrow full-page d-flex flex-column fade-in">
                <h1>EKNM</h1>
                <h2>Bottleshelf</h2>
                <p class="alpha-label">alpha</p>
                <a class="eknm-button-small" role="button" (click)="navigateToLogin()">Log In</a>
                <a class="eknm-button-small" role="button" (click)="navigateToRegister()">Register</a>
                <a class="eknm-button-underlined" role="button" href="https://eknm.in">For more info visit eknm.in</a>
            </div>
        </div>
        <div class="gradient-up"></div>
    </div>
</div>