@font-face {
    font-family: Bebas;
    src: url('assets/fonts/BebasNeue Regular.ttf') format("truetype");
    font-weight: 500;
    font-style: regular;
  }
  
  @font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway.ttf') format("truetype");
  }
  
  @font-face {
    font-family: Megrim;
    src: url('assets/fonts/Megrim-Regular.ttf') format("truetype");
    font-style: regular;
  }
  
  @font-face {
    font-family: Lemon;
    src: url('assets/fonts/Lemon Tuesday.otf') format("opentype");
    font-style: regular;
  }
  
  @font-face {
    font-family: Comfortaa;
    src: url('assets/fonts/Comfortaa.ttf') format("truetype");
    font-style: regular;
  }
p {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 18px;
    color: white;
    text-align: justify;
  }
  
  .lp {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 16px;
    color: lightgray;
    text-align: justify;
  }
  
  h1
  {
    overflow: hidden;
    font-family: 'Megrim';
    text-align: center;
    font-weight: regular;
    font-size: 60px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    position: relative;
    margin: 0;
    font-size: 24px;
    color: white;
    text-align: justify;
    text-transform: uppercase;
  }
  
  h3 {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: regular;
    position: relative;
    margin: 0;
    font-size: 24px;
    color: white;
    text-align: justify;
  }
  
  .img-icon {
    max-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .width-fit-content {
    width: fit-content;
  }
  
  .container-sm {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    padding: 0px 40px 0px 40px;
  }
  
  .container-md {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    padding: 0px 40px 0px 40px;
  }
  
  html, body { height: 100%; }
  body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url(assets/bg.png);
    background-size: 200% 200%;
  }
  
  .eknm-button-small {
    text-decoration: none;
    font-family: 'Raleway';
    position: relative;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    transition-duration: 0.2s;
    padding: 3px 8px 3px 8px;
    margin: 0px 10px 0px 0px;
  }
  
  .eknm-button-small:hover {
    color: rgb(126, 43, 194);
  }
  
  .eknm-button-small:active {
    color: black;
  }
  
  ul li::marker {
    color: white;
  }
  
  li {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 18px;
    color: white;
    text-align: justify;
  }

  .nav-button{   
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway';
    position: relative;
    font-size: 45px;
    border: None;
    background-color: transparent;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    height: 40px;
    font-weight: lighter;
    transition-duration: 0.2s;
}
.nav-button:hover{ 
    color: rgb(255, 255, 255);
  }
.nav-button:active {
    color: rgb(255, 255, 255);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
